{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": false,
    "regexUFlag": false,
    "regexYFlag": false,
    "spread": false,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": false,
    "jsx": false
  },
  "rules": {
    "indent": [2, 2],
    "quotes": [2, "single"],
    "camelcase": false,
    "no-trailing-spaces": [2, true],
    "comma-dangle": [2, "never"],
    "no-space-before-semi": true,
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "space-before-function-parentheses": [2, "always"],
    "space-before-blocks": [2, "always"],
    "space-after-keywords": [2, "always"],
    "spaced-line-comment": [2, "always",{"exceptions":["-","+"]}],
    "semi": [2, "always"],
    "eqeqeq": [2, "smart"],
    "no-alert": [2, true],
    "no-debugger": [2, true],
    "no-eval": [2, true],
    "yoda": [2, "never", { "exceptRange": true }],
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}]
  },
  "globals": {
    "describe": true,
    "beforeEach": true,
    "it": true,
    "expect": true,
    "sinon": true
  }
}
