.dev/
.tmp/
.DS_Store
.idea
*.sublime-project
*.sublime-workspace
bower_components/
node_modules/
/pages/
/docs/
coverage/
test/
npm-debug.log
karma.conf.js
grunt/
Gruntfile.js
.travis.yml
.npmignore
.editorconfig
.babelrc
